@charset "UTF-8";

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    padding: 0 20% ;
    overflow: hidden;
    background-color: rgb(252, 218, 67);
}
.topnav img{
    width: 50px;
    height: 50px;    
    border-radius: 25px;

} 
.topnav_right{
    float: right;
}
.topnav_left{
    float: left;
}

.topnav a {
    float: left;
    display: block;
    color: #111;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.active {
    background-color: #4CAF50;
    color: white;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 375px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}