@charset "UTF-8";
thead {
    font-weight: bold;
    background-color: aqua;
}
.table-striped>tbody>tr:nth-of-type(odd){
    background-color: #bbbbbb8a;
}
.table-hover>tbody>tr:hover {
    background-color: #eb2121;
}